body{
    margin:0;
    position:relative;
    height: 100%;
}
img{
    top:0;
    left: 10px;
    margin-right: 10px;
    width:99%;
    box-shadow: 10px 8px 8px;
}
.a1{
    width: 20%;
    color: black;
    text-align:center;
    color: aqua;
}
tr td{
    width: 12%;
    height: 30px;
    font-weight: bold;
    background-color: darkgreen;
}
tr td:hover {
    background-color: lightgreen;
    color: black;
}
.a2{
    border: 3px solid black;
    box-shadow: 10px 10px 4px black;
    width: 50%;
    height:auto;
    font-family: cursive;
    border-radius: 10px;
    float: right;
    margin-top: 5%;
}
.a2 h1{
    color: green;
}
span{
    color: blue;
}
.a3 h1{
    font-weight:bold;
}
.a3{
    border-radius: 10px;
    background-color: white;
    text-align:center;
    width: 20%;
    height:auto;
    float: right;
    margin-top:10%;
    font-family: cursive;
    border: 3px solid blueviolet;

}
.a3:hover{
    background-color: blueviolet;
    color: white;
}
.aa{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.bb{
    border: 2px solid red;
}
.cc{
    text-align: center;
    font-family: cursive;
}